page-signup {
    #google_translate_element {
        color: transparent;
      }
      
      #google_translate_element a {
        display: none;
      }

      #the-canvas {
        border:1px solid black;
        width: 100%;
        height: 100%;
      }

}

